BT_Monitor_Sensor
[{"id":"c4d46a7b.d0b108","type":"tab","label":"BLE init","disabled":false,"info":""},{"id":"b57483ce.5f7d8","type":"tab","label":"BLE control","disabled":false,"info":""},{"id":"382343f.d06a93c","type":"tab","label":"BLE departures & arrivals","disabled":false,"info":""},{"id":"5e3b52a9.74e354","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"50316ab3.24f63c","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"da253668.02e41","type":"mqtt-broker","z":"","name":"CDL SERVER","broker":"192.168.178.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d250918b.6d025","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"ea3ff780.22c17","type":"ui_group","z":"","name":"Monitor","tab":"d250918b.6d025","disp":true,"width":"6","collapse":false},{"id":"e17cf2aa.54dd1","type":"mqtt in","z":"b57483ce.5f7d8","name":"","topic":"monitor/heartbeat/#","qos":"2","broker":"5e3b52a9.74e354","x":173,"y":272,"wires":[["47c5b0eb.0d978","2eed2bad.6e378c","17e9845f.a05a54"]]},{"id":"2eed2bad.6e378c","type":"trigger","z":"b57483ce.5f7d8","op1":"BLE Monitor is running","op2":"BLE Monitor stopped","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":577,"y":278,"wires":[["1649229.abe5e5d","2b75ae34.0a6a22"]]},{"id":"b9a3d911.576778","type":"exec","z":"b57483ce.5f7d8","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Reboot","x":829,"y":462,"wires":[[],[],[]]},{"id":"42c7cb53.7143f4","type":"comment","z":"b57483ce.5f7d8","name":"Watchdog","info":"","x":153,"y":99,"wires":[]},{"id":"1649229.abe5e5d","type":"trigger","z":"b57483ce.5f7d8","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":817,"y":338,"wires":[["b9a3d911.576778"]]},{"id":"17e9845f.a05a54","type":"change","z":"b57483ce.5f7d8","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":587,"y":338,"wires":[["1649229.abe5e5d"]]},{"id":"2b75ae34.0a6a22","type":"link out","z":"b57483ce.5f7d8","name":"","links":["4e3f8e45.e26e98"],"x":782,"y":278,"wires":[]},{"id":"5940b628.2347a","type":"inject","z":"c4d46a7b.d0b108","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"10","x":130,"y":100,"wires":[["ae3ac7a4.196f48","6398f653.bca738"]]},{"id":"89ba6b74.228eb","type":"comment","z":"c4d46a7b.d0b108","name":"Starting services","info":"","x":160,"y":60,"wires":[]},{"id":"ae3ac7a4.196f48","type":"trigger","z":"c4d46a7b.d0b108","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"15","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":330,"y":100,"wires":[["331193bd.6f0934"]]},{"id":"4e3f8e45.e26e98","type":"link in","z":"c4d46a7b.d0b108","name":"","links":["2b75ae34.0a6a22"],"x":155,"y":160,"wires":[["ae3ac7a4.196f48","6398f653.bca738"]]},{"id":"331193bd.6f0934","type":"exec","z":"c4d46a7b.d0b108","command":"bash /home/pi/startMonitor.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":624,"y":137,"wires":[[],[],[]]},{"id":"734d353e.0d6a7c","type":"mqtt in","z":"382343f.d06a93c","name":"","topic":"monitor/#","qos":"2","broker":"5e3b52a9.74e354","x":98,"y":101,"wires":[["7bb5cc9.d021134"]]},{"id":"a75bea85.65e3d8","type":"mqtt out","z":"382343f.d06a93c","name":"Presence","topic":"","qos":"2","retain":"true","broker":"da253668.02e41","x":941.111083984375,"y":105.22210693359375,"wires":[]},{"id":"32098ee5.95b2e2","type":"switch","z":"382343f.d06a93c","name":"","property":"payload.confidence","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":456.11114501953125,"y":97.88888549804688,"wires":[["24f09885.bd4d"],["8633be0a.9209d"]]},{"id":"24f09885.bd4d","type":"function","z":"382343f.d06a93c","name":"","func":"msg.topic =\"ble_scan_\"+global.get(\"id\")+\"/\"+msg.payload.name;\nmsg.payload=\"home\"\nreturn msg;","outputs":1,"noerr":0,"x":691.4443969726562,"y":80.22219848632812,"wires":[["a75bea85.65e3d8","41f9ed9c.ae516c"]]},{"id":"8633be0a.9209d","type":"function","z":"382343f.d06a93c","name":"","func":"msg.topic =\"ble_scan_\"+global.get(\"id\")+\"/\"+msg.payload.name;\nmsg.payload=\"not_home\"\nreturn msg;","outputs":1,"noerr":0,"x":691.77783203125,"y":128.33334350585938,"wires":[["a75bea85.65e3d8","41f9ed9c.ae516c"]]},{"id":"7bb5cc9.d021134","type":"json","z":"382343f.d06a93c","name":"","property":"payload","action":"","pretty":false,"x":271.888916015625,"y":99.33334350585938,"wires":[["32098ee5.95b2e2"]]},{"id":"325f60de.89ec68","type":"inject","z":"b57483ce.5f7d8","name":"Manual Reboot","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":604,"y":462,"wires":[["b9a3d911.576778"]]},{"id":"6398f653.bca738","type":"function","z":"c4d46a7b.d0b108","name":"Kill Command","func":"msg.kill = \"SIGTERM\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":194.5,"wires":[["331193bd.6f0934"]]},{"id":"3d11b54d.2ba18a","type":"inject","z":"b57483ce.5f7d8","name":"Manual Reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":577,"y":221,"wires":[["2b75ae34.0a6a22"]]},{"id":"a720eb67.676ab","type":"function","z":"b57483ce.5f7d8","name":"Set Global Variable Identity","func":"if (msg.payload.identity !== '') {\n  global.set(\"id\",msg.payload.identity)\n} else {\n  global.set(\"id\",\"unknown\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":555,"y":396,"wires":[[]]},{"id":"47c5b0eb.0d978","type":"json","z":"b57483ce.5f7d8","name":"","property":"payload","action":"","pretty":false,"x":340,"y":397,"wires":[["a720eb67.676ab"]]},{"id":"7e28d96.9fe0b28","type":"comment","z":"382343f.d06a93c","name":"Monitor mqtt messages and send home OR not_home to the person related mqtt topic to be picked up by Home Assistant Software","info":"qtt messages and send home OR not_home to the person related mqtt topic ( ble_scan_[identityof scanning instance]/person) to be picked up by Home Assistant Software","x":478,"y":38,"wires":[]},{"id":"41f9ed9c.ae516c","type":"debug","z":"382343f.d06a93c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":951,"y":171,"wires":[]}]
