BT_Monitor_Sensor
[{"id":"c4d46a7b.d0b108","type":"tab","label":"BLE INITIATION","disabled":false,"info":""},{"id":"b57483ce.5f7d8","type":"tab","label":"BLE CONTROL","disabled":false,"info":""},{"id":"382343f.d06a93c","type":"tab","label":"BLE departures & arrivals","disabled":false,"info":""},{"id":"5e3b52a9.74e354","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"50316ab3.24f63c","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"da253668.02e41","type":"mqtt-broker","z":"","name":"CDL SERVER","broker":"192.168.178.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d250918b.6d025","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"ea3ff780.22c17","type":"ui_group","z":"","name":"Monitor","tab":"d250918b.6d025","disp":true,"width":"6","collapse":false},{"id":"c975a715.3c92a","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dd64b45e.30f97","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2a1ab670.8b0f72","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e17cf2aa.54dd1","type":"mqtt in","z":"b57483ce.5f7d8","name":"","topic":"monitor/heartbeat/#","qos":"2","broker":"5e3b52a9.74e354","x":173,"y":272,"wires":[["47c5b0eb.0d978","2eed2bad.6e378c","1a07a361.758785"]]},{"id":"2eed2bad.6e378c","type":"trigger","z":"b57483ce.5f7d8","op1":"BLE Monitor is running","op2":"BLE Monitor stopped","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":577,"y":278,"wires":[["3aba835c.82f52c"]]},{"id":"42c7cb53.7143f4","type":"comment","z":"b57483ce.5f7d8","name":"Watchdog","info":"","x":153,"y":99,"wires":[]},{"id":"2b75ae34.0a6a22","type":"link out","z":"b57483ce.5f7d8","name":"","links":["4e3f8e45.e26e98"],"x":921,"y":274,"wires":[]},{"id":"5940b628.2347a","type":"inject","z":"c4d46a7b.d0b108","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"5","x":130,"y":100,"wires":[["4172c630.949328","ae3ac7a4.196f48"]]},{"id":"89ba6b74.228eb","type":"comment","z":"c4d46a7b.d0b108","name":"Starting services","info":"","x":160,"y":60,"wires":[]},{"id":"ae3ac7a4.196f48","type":"trigger","z":"c4d46a7b.d0b108","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":330,"y":100,"wires":[["331193bd.6f0934"]]},{"id":"4e3f8e45.e26e98","type":"link in","z":"c4d46a7b.d0b108","name":"","links":["2b75ae34.0a6a22"],"x":98,"y":177,"wires":[["ae3ac7a4.196f48","4172c630.949328","e28f47ca.f1d1e8"]]},{"id":"331193bd.6f0934","type":"exec","z":"c4d46a7b.d0b108","command":"bash /home/pi/startMonitor.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":624,"y":100,"wires":[[],[],[]]},{"id":"734d353e.0d6a7c","type":"mqtt in","z":"382343f.d06a93c","name":"","topic":"monitor/#","qos":"2","broker":"5e3b52a9.74e354","x":98,"y":101,"wires":[["7bb5cc9.d021134"]]},{"id":"a75bea85.65e3d8","type":"mqtt out","z":"382343f.d06a93c","name":"Presence","topic":"","qos":"2","retain":"true","broker":"da253668.02e41","x":1038.111083984375,"y":79.22210693359375,"wires":[]},{"id":"32098ee5.95b2e2","type":"switch","z":"382343f.d06a93c","name":"Confidence Check","property":"payload.confidence","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":496.11114501953125,"y":97.88888549804688,"wires":[["24f09885.bd4d"],["8633be0a.9209d"]]},{"id":"24f09885.bd4d","type":"function","z":"382343f.d06a93c","name":"Confidence > 0 (home)","func":"msg.topic =\"ble_scan_\"+global.get(\"id\")+\"/\"+msg.payload.name;\nmsg.payload=\"home\"\nreturn msg;","outputs":1,"noerr":0,"x":741.4443969726562,"y":80.22219848632812,"wires":[["a75bea85.65e3d8","41f9ed9c.ae516c"]]},{"id":"8633be0a.9209d","type":"function","z":"382343f.d06a93c","name":"Confidence = 0 (not_home)","func":"msg.topic =\"ble_scan_\"+global.get(\"id\")+\"/\"+msg.payload.name;\nmsg.payload=\"not_home\"\nreturn msg;","outputs":1,"noerr":0,"x":761.77783203125,"y":128.33334350585938,"wires":[["a75bea85.65e3d8","41f9ed9c.ae516c"]]},{"id":"7bb5cc9.d021134","type":"json","z":"382343f.d06a93c","name":"","property":"payload","action":"","pretty":false,"x":271.888916015625,"y":99.33334350585938,"wires":[["32098ee5.95b2e2"]]},{"id":"3d11b54d.2ba18a","type":"inject","z":"b57483ce.5f7d8","name":"Manual Reset","topic":"","payload":"BLE Monitor stopped","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":577,"y":221,"wires":[["3aba835c.82f52c"]]},{"id":"a720eb67.676ab","type":"function","z":"b57483ce.5f7d8","name":"Set Global Variable Identity","func":"if (msg.payload.identity !== '') {\n  global.set(\"id\",msg.payload.identity)\n} else {\n  global.set(\"id\",\"unknown\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":555,"y":396,"wires":[[]]},{"id":"47c5b0eb.0d978","type":"json","z":"b57483ce.5f7d8","name":"","property":"payload","action":"","pretty":false,"x":340,"y":397,"wires":[["a720eb67.676ab"]]},{"id":"7e28d96.9fe0b28","type":"comment","z":"382343f.d06a93c","name":"Monitor mqtt messages and send home OR not_home to the person related mqtt topic to be picked up by Home Assistant Software","info":"qtt messages and send home OR not_home to the person related mqtt topic ( ble_scan_[identityof scanning instance]/person) to be picked up by Home Assistant Software","x":478,"y":38,"wires":[]},{"id":"41f9ed9c.ae516c","type":"debug","z":"382343f.d06a93c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1048,"y":145,"wires":[]},{"id":"1a07a361.758785","type":"debug","z":"b57483ce.5f7d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":574,"y":146,"wires":[]},{"id":"9d4b8047.aaa388","type":"inject","z":"c4d46a7b.d0b108","name":"Manual Kill","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":143,"y":247,"wires":[["e28f47ca.f1d1e8"]]},{"id":"a48e4474.65c6f8","type":"inject","z":"382343f.d06a93c","name":"Check Arrivals","topic":"","payload":"{\"action\":\"Check_Arrivals\"}","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":"60","x":120.888916015625,"y":473.22222900390625,"wires":[["c4665bef.5eaf68"]]},{"id":"f25516ca.f2226","type":"mqtt out","z":"382343f.d06a93c","name":"","topic":"monitor/scan/arrive","qos":"1","retain":"","broker":"c975a715.3c92a","x":482.888916015625,"y":594.2222290039062,"wires":[]},{"id":"94f41421.73ecf8","type":"mqtt out","z":"382343f.d06a93c","name":"","topic":"monitor/scan/depart","qos":"1","retain":"","broker":"c975a715.3c92a","x":492.888916015625,"y":654.2222290039062,"wires":[]},{"id":"504f128d.02b9fc","type":"delay","z":"382343f.d06a93c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":472.888916015625,"y":534.2222290039062,"wires":[["94f41421.73ecf8","14ee6563.44991b"]]},{"id":"c7be7c1b.8f1948","type":"delay","z":"382343f.d06a93c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":472.888916015625,"y":474.22222900390625,"wires":[["f25516ca.f2226","14ee6563.44991b"]]},{"id":"14ee6563.44991b","type":"debug","z":"382343f.d06a93c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":777.3333740234375,"y":500.88885498046875,"wires":[]},{"id":"4172c630.949328","type":"change","z":"c4d46a7b.d0b108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Restart","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":343,"y":258,"wires":[["fcbf1333.ceac4"]]},{"id":"fcbf1333.ceac4","type":"debug","z":"c4d46a7b.d0b108","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":568,"y":257,"wires":[]},{"id":"3aba835c.82f52c","type":"switch","z":"b57483ce.5f7d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"BLE Monitor stopped","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":791,"y":273.5,"wires":[["2b75ae34.0a6a22"]]},{"id":"e28f47ca.f1d1e8","type":"exec","z":"c4d46a7b.d0b108","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Reboot","x":554,"y":188,"wires":[[],[],[]]},{"id":"c4665bef.5eaf68","type":"json","z":"382343f.d06a93c","name":"","property":"payload","action":"str","pretty":false,"x":293,"y":473.5,"wires":[["c7be7c1b.8f1948"]]},{"id":"3119fbff.b62504","type":"comment","z":"b57483ce.5f7d8","name":"configfile","info":"# ---------------------------\n#\n# PUBLIC MAC ADDRESS LIST\n#\n# ---------------------------\n\n78:88:6D:26:24:13 Ronald#comment\n50:82:D5:D3:C2:FF Marijke#comment\n98:9E:63:61:B1:37 Jasmijn#comment\nE0:5F:45:3F:94:BA Sofie#comment","x":194,"y":479,"wires":[]},{"id":"942068d9.a6eb58","type":"json","z":"382343f.d06a93c","name":"","property":"payload","action":"str","pretty":false,"x":293.111083984375,"y":534,"wires":[["504f128d.02b9fc"]]},{"id":"e67ca717.5537e8","type":"inject","z":"382343f.d06a93c","name":"Check Departures","topic":"","payload":"{\"action\":\"Check_Departures\"}","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":"60","x":131,"y":533.7222290039062,"wires":[["942068d9.a6eb58"]]}]
