GHSKILL_GoodMorning
[{"id":"f800f64f.0b55c","type":"server-state-changed","z":"9802f550.b919f","name":"","server":"e9378dc7.633038","entityidfilter":"binary_sensor.beganegrond_someone_known","entityidfiltertype":"exact","haltifstate":"off","x":250,"y":66.25,"wires":[["c755c7e9.858548"]]},{"id":"255c3671.e01692","type":"function","z":"9802f550.b919f","name":"Create Google Say Message","func":"msg.payload = { \"data\":{\"entity_id\":\"media_player.living_room_speaker\",\"message\":msg.payload} }\nreturn msg;","outputs":1,"noerr":0,"x":1030.25,"y":252.49993896484375,"wires":[["73a25ece.21fd18","21cd08ea.ce29f"]]},{"id":"21cd08ea.ce29f","type":"debug","z":"9802f550.b919f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1349.25,"y":380.99993896484375,"wires":[]},{"id":"73a25ece.21fd18","type":"api-call-service","z":"9802f550.b919f","name":"Google Mini","server":"e9378dc7.633038","service_domain":"tts","service":"google_say","data":"","mergecontext":"","x":1327.25,"y":252.99993896484375,"wires":[[]]},{"id":"c755c7e9.858548","type":"get home data","z":"9802f550.b919f","name":"Welcome Begane Grond","creds":"7ee5272a.38ca88","x":607.2500610351562,"y":127,"wires":[["43c7188f.e19a9"]]},{"id":"e7573e9b.61414","type":"inject","z":"9802f550.b919f","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":405,"y":127.5,"wires":[["c755c7e9.858548"]]},{"id":"43c7188f.e19a9","type":"function","z":"9802f550.b919f","name":"Extract Last Event","func":"msg.payload = msg.payload.homes[0].events[0].message;\nreturn msg;","outputs":1,"noerr":0,"x":834,"y":128.00003051757812,"wires":[["26f30c04.91763c"]]},{"id":"26f30c04.91763c","type":"string","z":"9802f550.b919f","name":"Extract name","methods":[{"name":"between","params":[{"type":"str","value":"<b>"},{"type":"str","value":"</b>"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":1016.75,"y":126.75003051757812,"wires":[["204cb392.359dbc"]]},{"id":"204cb392.359dbc","type":"switch","z":"9802f550.b919f","name":"Check Name","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Ronald","vt":"str"},{"t":"eq","v":"Marijke","vt":"str"},{"t":"eq","v":"Sofie","vt":"str"},{"t":"eq","v":"Jasmijn","vt":"str"},{"t":"eq","v":"Roos","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":6,"x":142.25,"y":283.75,"wires":[["fa8eaf3a.409d08"],["ac0ba46a.4e6638"],["3eae2826.a62b8"],["535fdd7e.df534c"],["1902468e.907e49"],["858faad0.51acd"]]},{"id":"fa8eaf3a.409d08","type":"function","z":"9802f550.b919f","name":"Peronalised message Ronald","func":"if(global.get(\"ronaldseen\") == \"off\"){\nmsg.payload = \"Goodmorning \"+msg.payload;\nglobal.set(\"ronaldseen\",\"on\")\n}\nelse {msg.payload =\"\";}\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":191.25,"wires":[["255c3671.e01692","9f4ccaef.e864f8"]]},{"id":"9f4ccaef.e864f8","type":"function","z":"9802f550.b919f","name":"Create Google Say Message","func":"msg.payload = { \"data\":{\"entity_id\":\"media_player.googlehome0080\",\"message\":msg.payload} }\nreturn msg;","outputs":1,"noerr":0,"x":1029.25,"y":315.99993896484375,"wires":[["73a25ece.21fd18","21cd08ea.ce29f"]]},{"id":"9c2f0a7e.74c4","type":"inject","z":"9802f550.b919f","name":"Reset State","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":0.1,"x":130,"y":618.75,"wires":[["798b8288.53511c"]]},{"id":"798b8288.53511c","type":"function","z":"9802f550.b919f","name":"Seen this morning is off","func":"global.set(\"ronaldseen\",\"off\");\nglobal.set(\"marijkeseen\",\"off\");\nglobal.set(\"sofieseen\",\"off\");\nglobal.set(\"jasmijnseen\",\"off\");\nglobal.set(\"roosseen\",\"off\");\nglobal.set(\"marietteseen\",\"off\");\nreturn msg;","outputs":1,"noerr":0,"x":362.5,"y":616.25,"wires":[[]]},{"id":"ac0ba46a.4e6638","type":"function","z":"9802f550.b919f","name":"Peronalised message Marijke","func":"if(global.get(\"marijkeseen\") == \"off\"){\nmsg.payload = \"Goodmorning \"+msg.payload;\nglobal.set(\"marijkeseen\",\"on\")\n}\nelse {msg.payload =\"\";}\nreturn msg;","outputs":1,"noerr":0,"x":452.5,"y":231.25,"wires":[["255c3671.e01692","9f4ccaef.e864f8"]]},{"id":"3eae2826.a62b8","type":"function","z":"9802f550.b919f","name":"Peronalised message Sofie","func":"if(global.get(\"sofieseen\") == \"off\"){\nmsg.payload = \"Goodmorning \"+msg.payload;\nglobal.set(\"sofieseen\",\"on\")\n}\nelse {msg.payload =\"\";}\nreturn msg;","outputs":1,"noerr":0,"x":452.5,"y":271.25,"wires":[["255c3671.e01692","9f4ccaef.e864f8"]]},{"id":"535fdd7e.df534c","type":"function","z":"9802f550.b919f","name":"Peronalised message Jasmijn","func":"if(global.get(\"jasmijnseen\") == \"off\"){\nmsg.payload = \"Goodmorning \"+msg.payload;\nglobal.set(\"jasmijnseen\",\"on\")\n}\nelse {msg.payload =\"\";}\nreturn msg;","outputs":1,"noerr":0,"x":462,"y":311.25,"wires":[["255c3671.e01692","9f4ccaef.e864f8"]]},{"id":"1902468e.907e49","type":"function","z":"9802f550.b919f","name":"Peronalised message Roos","func":"if(global.get(\"roosseen\") == \"off\"){\nmsg.payload = \"Goodmorning little Rose\";\nglobal.set(\"roosseen\",\"on\")\n}\nelse {msg.payload =\"\";}\nreturn msg;","outputs":1,"noerr":0,"x":453.75,"y":351.25,"wires":[["255c3671.e01692","9f4ccaef.e864f8"]]},{"id":"858faad0.51acd","type":"function","z":"9802f550.b919f","name":"Peronalised message Mariette","func":"if(global.get(\"marietteseen\") == \"off\"){\nmsg.payload = \"Goodmorning \"+msg.payload;\nglobal.set(\"marietteseen\",\"on\")\n}\nelse {msg.payload =\"\";}\nreturn msg;","outputs":1,"noerr":0,"x":463.25,"y":391.25,"wires":[["255c3671.e01692","9f4ccaef.e864f8"]]},{"id":"c9741f3.61836e","type":"inject","z":"9802f550.b919f","name":"","topic":"Inject name","payload":"Roos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112.5,"y":447.5,"wires":[["204cb392.359dbc"]]},{"id":"e9378dc7.633038","type":"server","z":"","name":"Home Assistant","url":"http://192.168.178.100:8123","pass":"","llat":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIwYTMwNmJlYzE3MGU0NDg5OGU0OWIxYTJiZTQzNTJlNSIsImlhdCI6MTUzODQzMDA4OSwiZXhwIjoxODUzNzkwMDg5fQ.E9cHSUIxlK7oOrV8QS-3STwHqsTfx8RJ5Z6aqESOL0I"},{"id":"7ee5272a.38ca88","type":"configNode","z":"","client_id":"5b3691762d3e0457708beeb3","client_secret":"dzYvakjCRv0wT1qCpIHnom4cAvENd","username":"ronald_de_lange@hotmail.com","password":"Dus0208l!","device_id":"70:ee:50:14:04:f6"}]
