GHSKILL_HALights
[{"id":"ac6f783.8183808","type":"http in","z":"5b840a06.345afc","name":"/iftttgh/turnoff","url":"/iftttgh/turnoff","method":"post","upload":false,"swaggerDoc":"","x":103,"y":295,"wires":[["8525abe6.10ec98","b5583d08.145fb8","18a1279.5f8fd58"]]},{"id":"8525abe6.10ec98","type":"http response","z":"5b840a06.345afc","name":"","statusCode":"","headers":{},"x":413,"y":120,"wires":[]},{"id":"b5583d08.145fb8","type":"debug","z":"5b840a06.345afc","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":412,"y":161,"wires":[]},{"id":"3a78c0a9.bc5ff","type":"comment","z":"5b840a06.345afc","name":"Capture IFTTT HTTP post GOOGLEHOME","info":"","x":405,"y":69,"wires":[]},{"id":"31ea26cc.947c6a","type":"debug","z":"5b840a06.345afc","name":"other","active":true,"console":"false","complete":"payload","x":597.5,"y":414.25,"wires":[]},{"id":"18a1279.5f8fd58","type":"switch","z":"5b840a06.345afc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"dining","vt":"str"},{"t":"cont","v":"living","vt":"str"},{"t":"cont","v":"kitchen","vt":"str"},{"t":"cont","v":"fire","vt":"str"},{"t":"cont","v":"couch","vt":"str"},{"t":"cont","v":"ground floor","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":400.5,"y":293,"wires":[["e125fd4c.3185f"],["da2424cc.8187f8"],["9013b4c6.c19208"],["1838170b.41e101"],["82739cac.906878"],["e125fd4c.3185f","da2424cc.8187f8","9013b4c6.c19208","1838170b.41e101","82739cac.906878"],["31ea26cc.947c6a"]]},{"id":"e125fd4c.3185f","type":"api-call-service","z":"5b840a06.345afc","name":"","server":"e9378dc7.633038","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\": \"switch.dining_table_light\"}","mergecontext":"","x":632,"y":188,"wires":[[]]},{"id":"da2424cc.8187f8","type":"api-call-service","z":"5b840a06.345afc","name":"","server":"e9378dc7.633038","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\": \"switch.living_room_light\"}","mergecontext":"","x":634,"y":235,"wires":[[]]},{"id":"9013b4c6.c19208","type":"api-call-service","z":"5b840a06.345afc","name":"","server":"e9378dc7.633038","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\": \"switch.kitchen_light\"}","mergecontext":"","x":634,"y":284,"wires":[[]]},{"id":"1838170b.41e101","type":"api-call-service","z":"5b840a06.345afc","name":"","server":"e9378dc7.633038","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\": \"switch.fireplace_light\"}","mergecontext":"","x":636,"y":330,"wires":[[]]},{"id":"82739cac.906878","type":"api-call-service","z":"5b840a06.345afc","name":"","server":"e9378dc7.633038","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\": \"switch.couch_light\"}","mergecontext":"","x":636,"y":373,"wires":[[]]},{"id":"84fe1323.1062a","type":"debug","z":"5b840a06.345afc","name":"other","active":true,"console":"false","complete":"payload","x":597.5,"y":726.25,"wires":[]},{"id":"18081386.016454","type":"switch","z":"5b840a06.345afc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"dining","vt":"str"},{"t":"cont","v":"living","vt":"str"},{"t":"cont","v":"kitchen","vt":"str"},{"t":"cont","v":"fire","vt":"str"},{"t":"cont","v":"couch","vt":"str"},{"t":"cont","v":"ground floor","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":405.5,"y":576,"wires":[["34bba9d.33f58d6"],["23ed945a.5fbeb4"],["93c0851c.c666e"],["1ceebe0d.28f392"],["b47e0a53.7002c"],["34bba9d.33f58d6","23ed945a.5fbeb4","93c0851c.c666e","1ceebe0d.28f392","b47e0a53.7002c"],["84fe1323.1062a","b47e0a53.7002c"]]},{"id":"34bba9d.33f58d6","type":"api-call-service","z":"5b840a06.345afc","name":"","server":"e9378dc7.633038","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\": \"switch.dining_table_light\"}","mergecontext":"","x":632,"y":464,"wires":[[]]},{"id":"23ed945a.5fbeb4","type":"api-call-service","z":"5b840a06.345afc","name":"","server":"e9378dc7.633038","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\": \"switch.living_room_light\"}","mergecontext":"","x":634,"y":511,"wires":[[]]},{"id":"93c0851c.c666e","type":"api-call-service","z":"5b840a06.345afc","name":"","server":"e9378dc7.633038","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\": \"switch.kitchen_light\"}","mergecontext":"","x":634,"y":560,"wires":[[]]},{"id":"1ceebe0d.28f392","type":"api-call-service","z":"5b840a06.345afc","name":"","server":"e9378dc7.633038","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\": \"switch.fireplace_light\"}","mergecontext":"","x":636,"y":606,"wires":[[]]},{"id":"b47e0a53.7002c","type":"api-call-service","z":"5b840a06.345afc","name":"","server":"e9378dc7.633038","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\": \"switch.couch_light\"}","mergecontext":"","x":636,"y":649,"wires":[[]]},{"id":"a16c7d6f.3961b8","type":"http in","z":"5b840a06.345afc","name":"/iftttgh/turnon","url":"/iftttgh/turnon","method":"post","upload":false,"swaggerDoc":"","x":111,"y":581,"wires":[["f99066b6.9b8ce8","915c2e8a.b94468","18081386.016454"]]},{"id":"f99066b6.9b8ce8","type":"http response","z":"5b840a06.345afc","name":"","statusCode":"","headers":{},"x":421,"y":406,"wires":[]},{"id":"915c2e8a.b94468","type":"debug","z":"5b840a06.345afc","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":420,"y":447,"wires":[]},{"id":"e9378dc7.633038","type":"server","z":"","name":"Home Assistant","url":"http://192.168.178.100:8123","pass":"","llat":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIwYTMwNmJlYzE3MGU0NDg5OGU0OWIxYTJiZTQzNTJlNSIsImlhdCI6MTUzODQzMDA4OSwiZXhwIjoxODUzNzkwMDg5fQ.E9cHSUIxlK7oOrV8QS-3STwHqsTfx8RJ5Z6aqESOL0I"}]
