GHSKILL_Laugh
[{"id":"bbe3576d.2036c","type":"random","z":"2fa70758.63d258","name":"","low":"1","high":"5","inte":"true","property":"payload","x":336,"y":411.5,"wires":[["ca66a607.daee6"]]},{"id":"ca66a607.daee6","type":"switch","z":"2fa70758.63d258","name":"Cast Based On random Number","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":6,"x":563,"y":411,"wires":[["df9d3f92.6ae73"],["12f43628.8a7daa"],["88bc7e56.3c4a1"],["a16395f5.477578"],["23dd6829.a86968"],["23dd6829.a86968"]]},{"id":"a0ceee5c.6406e","type":"chromecast-play","z":"2fa70758.63d258","name":"Play on GH Living Room","url":"","contentType":"audio/mp3","ip":"192.168.178.51","x":1078.25,"y":407.5,"wires":[["9fbd55c.adb2d28"]]},{"id":"315a7d41.ed53ea","type":"inject","z":"2fa70758.63d258","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/30 9-22 * * *","once":false,"onceDelay":0.1,"x":110.49998474121094,"y":581.75,"wires":[["a10daf0e.1b2bb8","ca6987d8.a32468"]]},{"id":"9fbd55c.adb2d28","type":"debug","z":"2fa70758.63d258","name":"BBInfo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1286,"y":407.2500305175781,"wires":[]},{"id":"369657c6.d24f7","type":"http in","z":"2fa70758.63d258","name":"/iftttgh/laugh","url":"/iftttgh/laugh","method":"post","upload":false,"swaggerDoc":"","x":87,"y":364,"wires":[["ec9856fd.487a78","d7e8ddc3.da1a38","bbe3576d.2036c"]]},{"id":"ec9856fd.487a78","type":"http response","z":"2fa70758.63d258","name":"","statusCode":"","headers":{},"x":327,"y":313,"wires":[]},{"id":"d7e8ddc3.da1a38","type":"debug","z":"2fa70758.63d258","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":327,"y":359,"wires":[]},{"id":"df9d3f92.6ae73","type":"function","z":"2fa70758.63d258","name":"Get Laugh1","func":"msg.payload = {\n ip_address:'192.168.1.51',\n ip: '192.168.1.51',\n url: 'http://www.cardle.info/lab/marc_laugh.wav',\n contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":837.75,"y":332.49993896484375,"wires":[["a0ceee5c.6406e"]]},{"id":"12f43628.8a7daa","type":"function","z":"2fa70758.63d258","name":"Get Laugh2","func":"msg.payload = {\n ip_address:'192.168.1.51',\n ip: '192.168.1.51',\n url: 'http://192.168.178.100/sounds/laugh/male/Sick_Villain-Peter_De_Lang-1465872262.wav',\n contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":836.75,"y":368.49993896484375,"wires":[["a0ceee5c.6406e"]]},{"id":"88bc7e56.3c4a1","type":"function","z":"2fa70758.63d258","name":"Get Laugh3","func":"msg.payload = {\n ip_address:'192.168.1.51',\n ip: '192.168.1.51',\n url: 'http://192.168.178.100/sounds/laugh/male/Evil_laugh_Male_9-Himan-1598312646.wav',\n contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":836.75,"y":404.49993896484375,"wires":[["a0ceee5c.6406e"]]},{"id":"a16395f5.477578","type":"function","z":"2fa70758.63d258","name":"Get Laugh4","func":"msg.payload = {\n ip_address:'192.168.1.51',\n ip: '192.168.1.51',\n url: 'http://svdl.iplay.bg/sound/zombie_plague/START_ASSASSIN_ROUND_2.wav',\n contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":835.75,"y":442.49993896484375,"wires":[["a0ceee5c.6406e"]]},{"id":"23dd6829.a86968","type":"function","z":"2fa70758.63d258","name":"Get Laugh5","func":"msg.payload = {\n ip_address:'192.168.1.51',\n ip: '192.168.1.51',\n url: 'http://www.supak.com/simpsons/wavs/milhouse_crazy_laugh.wav',\n contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":836.75,"y":478.49993896484375,"wires":[["a0ceee5c.6406e"]]},{"id":"d57d19f0.a64668","type":"chromecast-play","z":"2fa70758.63d258","name":"SanderMonkey","url":"http://192.168.178.100/sounds/laugh/male/Home.m4a","contentType":"audio/mp3","ip":"192.168.178.51","x":405,"y":813.75,"wires":[[]]},{"id":"4ad8373d.6d5078","type":"inject","z":"2fa70758.63d258","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112.5,"y":816.25,"wires":[["d57d19f0.a64668"]]},{"id":"cb812da1.8f568","type":"http in","z":"2fa70758.63d258","name":"/iftttgh/monkey","url":"/iftttgh/monkey","method":"post","upload":false,"swaggerDoc":"","x":118.75,"y":762.5,"wires":[["5820108b.dff7f8","54f1269c.3209e8","d57d19f0.a64668"]]},{"id":"54f1269c.3209e8","type":"debug","z":"2fa70758.63d258","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":348.75,"y":757.5,"wires":[]},{"id":"5820108b.dff7f8","type":"http response","z":"2fa70758.63d258","name":"","statusCode":"","headers":{},"x":348.75,"y":711.5,"wires":[]},{"id":"64ac9338.3a166c","type":"http in","z":"2fa70758.63d258","name":"/iftttgh/randomlaugh","url":"/iftttgh/randomlaugh","method":"post","upload":false,"swaggerDoc":"","x":101.25,"y":158.75,"wires":[["96d3cfa5.067698","872a8911.a31a88","8fe44ac3.4be568"]]},{"id":"96d3cfa5.067698","type":"http response","z":"2fa70758.63d258","name":"","statusCode":"","headers":{},"x":316.25,"y":66.5,"wires":[]},{"id":"872a8911.a31a88","type":"debug","z":"2fa70758.63d258","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":317.5,"y":105,"wires":[]},{"id":"8fe44ac3.4be568","type":"switch","z":"2fa70758.63d258","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":316.25,"y":158.75,"wires":[["2c9f51.28df58b"],["87c40057.b5ed18"],["87c40057.b5ed18"]]},{"id":"2c9f51.28df58b","type":"function","z":"2fa70758.63d258","name":"Set On","func":"global.set(\"randomlaugh\",\"on\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":146.25,"wires":[[]]},{"id":"87c40057.b5ed18","type":"function","z":"2fa70758.63d258","name":"Set Off","func":"global.set(\"randomlaugh\",\"off\");\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":193.75,"wires":[[]]},{"id":"a10daf0e.1b2bb8","type":"function","z":"2fa70758.63d258","name":"set current randomlaugh value","func":"msg.payload = global.get(\"randomlaugh\");\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":582.5,"wires":[["cebbb293.6dc87","ca6987d8.a32468"]]},{"id":"cebbb293.6dc87","type":"switch","z":"2fa70758.63d258","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":595,"y":581.25,"wires":[["bbe3576d.2036c"]]},{"id":"ca6987d8.a32468","type":"debug","z":"2fa70758.63d258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":618.75,"y":635,"wires":[]},{"id":"cd94009e.dc5a48","type":"inject","z":"2fa70758.63d258","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":97.5,"y":207.5,"wires":[["8fe44ac3.4be568"]]},{"id":"1c180355.487e5d","type":"inject","z":"2fa70758.63d258","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":95,"y":246.25,"wires":[["8fe44ac3.4be568"]]},{"id":"33ec14e5.135c9c","type":"comment","z":"2fa70758.63d258","name":"This param sets the random laugh option. This option will randomly let the GH laugh. You can use the keywords: random evil on/off; random laugh on/off","info":"","x":531.25,"y":25.625,"wires":[]},{"id":"718ec3f0.310044","type":"comment","z":"2fa70758.63d258","name":"This endpoint lets the GH laugh on command. you can use as keywords: evil;laugh;evil laugh","info":"","x":328.75,"y":280,"wires":[]},{"id":"5a8780ec.1d4a7","type":"comment","z":"2fa70758.63d258","name":"BONUS: This endpoint lets the GH play the uncle Sander Monkey sound on command. you can use as keywords: uncle monkey;uncle sander","info":"","x":483.75,"y":681.25,"wires":[]},{"id":"e2ed1d4b.5e74d8","type":"inject","z":"2fa70758.63d258","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":92.5,"y":410,"wires":[["bbe3576d.2036c"]]}]
