HA_NOTSOBIN_PRESENCE
[{"id":"d9ec8e28.a1b218","type":"switch","z":"b168e0d8.762ca","name":"Home?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"Home","vt":"str"},{"t":"eq","v":"Away","vt":"str"},{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":455.7143249511719,"y":438.5714416503906,"wires":[["92e93b1a.dcd7"],["7f6bbe32.a5d4a"],["92e93b1a.dcd7"],["7f6bbe32.a5d4a"]]},{"id":"7f6bbe32.a5d4a","type":"template","z":"b168e0d8.762ca","name":"Just Left","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Just Left\"\n   }\n}","output":"str","x":595.7143249511719,"y":478.5714416503906,"wires":[["24f378bc.51ec98"]]},{"id":"92e93b1a.dcd7","type":"template","z":"b168e0d8.762ca","name":"","field":"payload.entity_id","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"input_select.{{topic}}","output":"str","x":595.7143249511719,"y":398.5714416503906,"wires":[["b4ecac66.ec0c5"]]},{"id":"b4ecac66.ec0c5","type":"api-current-state","z":"b168e0d8.762ca","name":"Status?","server":"e9378dc7.633038","halt_if":"","override_topic":false,"override_payload":true,"entity_id":"","x":735.7143249511719,"y":398.5714416503906,"wires":[["f4c38ff2.c782b8","f69581db.2921f"]]},{"id":"f4c38ff2.c782b8","type":"switch","z":"b168e0d8.762ca","name":"Just Left?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Just Left","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":875.7143249511719,"y":378.5714416503906,"wires":[["6f13b51d.727fe4"],["b04bc471.c3225"]]},{"id":"f69581db.2921f","type":"change","z":"b168e0d8.762ca","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":865.7143249511719,"y":418.5714416503906,"wires":[["bff50681.4a6e9","8e34d526.3c59f8"]]},{"id":"773d1d2.9fe08e4","type":"change","z":"b168e0d8.762ca","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1225.7143249511719,"y":478.5714416503906,"wires":[["8f71c6aa.3b07","8e34d526.3c59f8"]]},{"id":"24f378bc.51ec98","type":"api-call-service","z":"b168e0d8.762ca","name":"HA","server":"e9378dc7.633038","service_domain":"","service":"","data":"","mergecontext":"","x":725.7143249511719,"y":478.5714416503906,"wires":[["bff50681.4a6e9","773d1d2.9fe08e4"]]},{"id":"5c63fa0.89f8208","type":"api-call-service","z":"b168e0d8.762ca","name":"HA","server":"e9378dc7.633038","service_domain":"","service":"","data":"","mergecontext":"","x":1165.7143249511719,"y":358.5714416503906,"wires":[["8f71c6aa.3b07"]]},{"id":"91ccd60d.d0dcd","type":"api-call-service","z":"b168e0d8.762ca","name":"HA","server":"e9378dc7.633038","service_domain":"","service":"","data":"","mergecontext":"","x":1105.7143249511719,"y":458.5714416503906,"wires":[["8e34d526.3c59f8"]]},{"id":"9a74de2b.ab4b98","type":"api-call-service","z":"b168e0d8.762ca","name":"HA","server":"e9378dc7.633038","service_domain":"","service":"","data":"","mergecontext":"","x":1585.7143249511719,"y":418.5714416503906,"wires":[[]]},{"id":"bff50681.4a6e9","type":"trigger","z":"b168e0d8.762ca","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 Min","x":865.7143249511719,"y":458.5714416503906,"wires":[["3e70a288.e34e56"]]},{"id":"8e34d526.3c59f8","type":"trigger","z":"b168e0d8.762ca","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"24","extend":false,"units":"hr","reset":"","bytopic":"topic","name":"24 Hrs","x":1285.7143249511719,"y":418.5714416503906,"wires":[["d4b68bcf.71e3"]]},{"id":"8f71c6aa.3b07","type":"trigger","z":"b168e0d8.762ca","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 Min","x":1285.7143249511719,"y":358.5714416503906,"wires":[["b04bc471.c3225"]]},{"id":"6f13b51d.727fe4","type":"template","z":"b168e0d8.762ca","name":"Just Arrived","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Just Arrived\"\n   }\n}","output":"str","x":1025.7143249511719,"y":358.5714416503906,"wires":[["5c63fa0.89f8208"]]},{"id":"b04bc471.c3225","type":"template","z":"b168e0d8.762ca","name":"Home","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Home\"\n   }\n}","output":"str","x":1405.7143249511719,"y":378.5714416503906,"wires":[["fd66cd52.e09cf8"]]},{"id":"d4b68bcf.71e3","type":"template","z":"b168e0d8.762ca","name":"Extended Away","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Extended Away\"\n   }\n}","output":"str","x":1435.7143249511719,"y":418.5714416503906,"wires":[["9a74de2b.ab4b98"]]},{"id":"3e70a288.e34e56","type":"template","z":"b168e0d8.762ca","name":"Away","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Away\"\n   }\n}","output":"str","x":985.7143249511719,"y":458.5714416503906,"wires":[["91ccd60d.d0dcd"]]},{"id":"7ff33144.6bff2","type":"change","z":"b168e0d8.762ca","name":"Change","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"device_tracker.","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":315.7143249511719,"y":438.5714416503906,"wires":[["d9ec8e28.a1b218"]]},{"id":"fd66cd52.e09cf8","type":"api-call-service","z":"b168e0d8.762ca","name":"HA","server":"e9378dc7.633038","service_domain":"","service":"","data":"","mergecontext":"","x":1525.7143249511719,"y":378.5714416503906,"wires":[[]]},{"id":"23b9c2f5.22957e","type":"server-state-changed","z":"b168e0d8.762ca","name":"All device trackers","server":"e9378dc7.633038","entityidfilter":"^device_tracker.*$","entityidfiltertype":"regex","haltifstate":"","x":109,"y":438.00006103515625,"wires":[["7ff33144.6bff2"]]},{"id":"e9378dc7.633038","type":"server","z":"","name":"Home Assistant","url":"http://192.168.178.100:8123","pass":"","llat":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIwYTMwNmJlYzE3MGU0NDg5OGU0OWIxYTJiZTQzNTJlNSIsImlhdCI6MTUzODQzMDA4OSwiZXhwIjoxODUzNzkwMDg5fQ.E9cHSUIxlK7oOrV8QS-3STwHqsTfx8RJ5Z6aqESOL0I"}]
