MYCROFTSKILL_Fallback_Chat
[{"id":"df2e6607.7bbc6","type":"exec","z":"4a698b80.2ae2d4","command":"/home/internet/mycroft-core/start-mycroft.sh debug","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"start mycroft","x":777.1429443359375,"y":432.85716247558594,"wires":[[],[],[]]},{"id":"f58ec9c4.ae879","type":"ui_button","z":"4a698b80.2ae2d4","name":"","group":"6025c7d3.17aa38","order":3,"width":"6","height":"1","passthru":false,"label":"start mycroft","color":"","bgcolor":"#496959","icon":"","payload":"","payloadType":"str","topic":"","x":537.1429443359375,"y":432.85716247558594,"wires":[["df2e6607.7bbc6"]]},{"id":"19f0d167.cf785f","type":"ui_button","z":"4a698b80.2ae2d4","name":"","group":"6025c7d3.17aa38","order":4,"width":"6","height":"1","passthru":false,"label":"stop mycroft","color":"","bgcolor":"#694962","icon":"","payload":"","payloadType":"str","topic":"","x":537.1429443359375,"y":492.85716247558594,"wires":[["434909c9.270628"]]},{"id":"434909c9.270628","type":"exec","z":"4a698b80.2ae2d4","command":"/home/internet/mycroft-core/stop-mycroft.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"stop mycroft","x":777.1429443359375,"y":492.85716247558594,"wires":[[],[],[]]},{"id":"f8ca423c.6e752","type":"ui_text_input","z":"4a698b80.2ae2d4","name":"","label":"","group":"6025c7d3.17aa38","order":2,"width":"6","height":"2","passthru":false,"mode":"text","delay":"0","topic":"","x":412.85721588134766,"y":337.14284324645996,"wires":[["d52cd67a.b0ed6"]]},{"id":"dc8670a0.ccc4e","type":"ui_text","z":"4a698b80.2ae2d4","group":"6025c7d3.17aa38","order":1,"width":"6","height":"3","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1122.857219696045,"y":257.1428680419922,"wires":[]},{"id":"3058bea.8fe48c2","type":"string","z":"4a698b80.2ae2d4","name":"","methods":[{"name":"between","params":[{"type":"str","value":"\"utterance\": \""},{"type":"str","value":"\""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":892.8572158813477,"y":257.1428813934326,"wires":[["dc8670a0.ccc4e"]]},{"id":"d52cd67a.b0ed6","type":"template","z":"4a698b80.2ae2d4","name":"ask json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.query\", \"data\":{\"utterances\" : [\"{{payload}}\"]}, \"context\":{}}","output":"str","x":688.5714721679688,"y":335.7143135070801,"wires":[["c620d1ae.61cee8"]]},{"id":"c620d1ae.61cee8","type":"websocket out","z":"4a698b80.2ae2d4","name":"mycroft-out","server":"","client":"a8cd9abf.ae876","x":955.5714569091797,"y":336.2143363952637,"wires":[]},{"id":"444d182d.a755b8","type":"websocket in","z":"4a698b80.2ae2d4","name":"mycroft-fallback","server":"b2402fb5.68a38","client":"","x":418.57149505615234,"y":257.142879486084,"wires":[["34801cc8.e0d42c"]]},{"id":"34801cc8.e0d42c","type":"switch","z":"4a698b80.2ae2d4","name":"answer filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"speak\"","vt":"str"}],"checkall":"true","outputs":1,"x":690.8572616577148,"y":258.7857723236084,"wires":[["3058bea.8fe48c2"]]},{"id":"6025c7d3.17aa38","type":"ui_group","z":"","name":"mycroft","tab":"18432028.fb9f08","disp":true,"width":"6"},{"id":"a8cd9abf.ae876","type":"websocket-client","z":"","path":"ws://out:test_key@192.168.178.80:6789","tls":"","wholemsg":"false"},{"id":"b2402fb5.68a38","type":"websocket-listener","z":"","path":"ws://chat:test_key@192.168.178.80:6789","wholemsg":"false"},{"id":"18432028.fb9f08","type":"ui_tab","z":"","name":"home","icon":"dashboard"}]
