MYCROFT_Telegram
[{"id":"9074ca6e.6efa4","type":"telegram receiver","z":"76871323.ae1494","name":"","bot":"21edf4bb.258fd4","saveDataDir":"","x":145.4499969482422,"y":134.4499969482422,"wires":[["1f9c0818.fee56"],[]]},{"id":"bc2bfd94.fa5a38","type":"telegram sender","z":"76871323.ae1494","name":"","bot":"21edf4bb.258fd4","x":994.4500122070312,"y":128.4499969482422,"wires":[[]]},{"id":"3e1b2f65.e153e8","type":"http request","z":"76871323.ae1494","name":"","method":"GET","ret":"txt","url":"","tls":"","x":568.1500244140625,"y":131.6999969482422,"wires":[["5c55b801.47aaf8"]],"inputLabels":["payload.content"],"outputLabels":["payload.content"]},{"id":"1f9c0818.fee56","type":"function","z":"76871323.ae1494","name":"","func":"flow.set(\"chatId\", msg.payload.chatId);\nflow.set(\"messageId\", msg.payload.messageId);\nmsg.url = \"192.168.178.100:1880/cdl/\"+msg.payload.content;\nreturn msg; ","outputs":1,"noerr":0,"x":371.1500244140625,"y":128.1999969482422,"wires":[["3e1b2f65.e153e8"]]},{"id":"5c55b801.47aaf8","type":"function","z":"76871323.ae1494","name":"","func":"var message = msg.payload;\nmsg.payload = {chatId : flow.get(\"chatId\"), messageId : flow.get(\"messageId\"),type : 'message', content : message};\nreturn msg;","outputs":1,"noerr":0,"x":764.4500122070312,"y":131.4499969482422,"wires":[["17609e6f.dfe5ea"]]},{"id":"17609e6f.dfe5ea","type":"string","z":"76871323.ae1494","name":"","methods":[{"name":"replaceAll","params":[{"type":"str","value":"&#39;"},{"type":"str","value":"'"}]}],"prop":"payload.content","propout":"payload.content","object":"msg","objectout":"msg","x":827.6875114440918,"y":257.0625114440918,"wires":[["bc2bfd94.fa5a38"]]},{"id":"21edf4bb.258fd4","type":"telegram bot","z":"76871323.ae1494","botname":"RobinRobot","usernames":"","chatids":"","baseapiurl":"","pollinterval":""}]
