MYCROFTSKILL_Fallback_Server_API
[{"id":"6f48045d.f61224","type":"function","z":"621800be.aab37","name":"loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload.action can consis one of actions: request, feedback\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state or the feedback \n\ncontext.loop = context.loop || \"feedback\";\ncontext.loops = context.loops || 0;\nmsg.action = global.get(\"loop\");\nif(context.loops > 10){\n msg.action = \"feedback\";\n global.set(\"feedback\",\"I was not able to handle your request\")\n}\nswitch (msg.action) {\n\tcase \"feedback\":\n//\t\tcontext.loops = context.loops + 1;\n context.loops = 0;\n\t\tmsg.action = \"feedback\";\n\t\tmsg.req.params.name = global.get(\"feedback\");\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"request\":\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.action = \"requested:\"+ context.loops;\n\t\treturn [null,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.action = \"loop:\" + context.loops;\n\t\t\treturn [null,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"x":918,"y":312,"wires":[["599e105f.dcddd8","f1466052.cf476"],["f7c1be2f.3d62a8","fc798eb.f0ba67"]]},{"id":"f7c1be2f.3d62a8","type":"delay","z":"621800be.aab37","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":928,"y":392,"wires":[["6f48045d.f61224"]]},{"id":"599e105f.dcddd8","type":"debug","z":"621800be.aab37","name":"","active":false,"console":"false","complete":"req.params.name","x":1368,"y":232,"wires":[]},{"id":"7a012856.b72c7","type":"http response","z":"621800be.aab37","name":"","x":1338,"y":312,"wires":[]},{"id":"f1466052.cf476","type":"template","z":"621800be.aab37","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{req.params.name}}","x":1178,"y":312,"wires":[["7a012856.b72c7"]]},{"id":"4e0553a9.177c5c","type":"http in","z":"621800be.aab37","name":"","url":"/cdl/:name","method":"get","upload":false,"swaggerDoc":"","x":448,"y":312,"wires":[["78b53734.beab"]]},{"id":"78b53734.beab","type":"function","z":"621800be.aab37","name":"function","func":"global.set(\"loop\",\"request\");\nglobal.set(\"feedback\",\"pending\");\nvar question = msg.req.params.name.toLowerCase();\nmsg.payload =question;\nmsg.action = \"request\";\nreturn msg;","outputs":1,"noerr":0,"x":608,"y":312,"wires":[["6f48045d.f61224","3cc384f3.8578f4"]]},{"id":"5618b41e.9414ac","type":"function","z":"621800be.aab37","name":"Reply to global variable","func":"global.set(\"loop\",\"feedback\");\nglobal.set(\"feedback\",msg.payload.data.utterance);\nreturn msg;","outputs":1,"noerr":0,"x":1098,"y":592,"wires":[["75357079.e36b7"]]},{"id":"75357079.e36b7","type":"debug","z":"621800be.aab37","name":"","active":false,"console":"false","complete":"false","x":1418,"y":592,"wires":[]},{"id":"fc798eb.f0ba67","type":"debug","z":"621800be.aab37","name":"","active":false,"console":"false","complete":"action","x":1338,"y":392,"wires":[]},{"id":"3cc384f3.8578f4","type":"template","z":"621800be.aab37","name":"ask json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.query\", \"data\":{\"utterances\" : [\"{{payload}}\"]}, \"context\":{}}","output":"str","x":748,"y":372,"wires":[["bfc5867d.9cc4"]]},{"id":"bfc5867d.9cc4","type":"websocket out","z":"621800be.aab37","name":"mycroft-out","server":"","client":"a8cd9abf.ae876","x":778,"y":432,"wires":[]},{"id":"da09a62.2cfae58","type":"websocket in","z":"621800be.aab37","name":"mycroft-feedback","server":"170a633b.7b6a1d","client":"","x":458,"y":592,"wires":[["983df80.869ed08","cb26d0e5.bef53"]]},{"id":"983df80.869ed08","type":"debug","z":"621800be.aab37","name":"","active":true,"console":"false","complete":"false","x":630,"y":660.75,"wires":[]},{"id":"cb26d0e5.bef53","type":"json","z":"621800be.aab37","name":"","pretty":false,"x":790.5,"y":620,"wires":[["5618b41e.9414ac"]]},{"id":"a8cd9abf.ae876","type":"websocket-client","z":"","path":"ws://out:test_key@192.168.178.80:6789","tls":"","wholemsg":"false"},{"id":"170a633b.7b6a1d","type":"websocket-listener","z":"","path":"ws://api:test_key@192.168.178.80:6789","wholemsg":"false"}]
