MYCROFTSKILL_Fallback_Broadcast
[{"id":"a237e28d.beb0c8","type":"template","z":"fa94e7ea.c4c2f8","name":"answer json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"The following message has been send to all devices\"}, \"context\":{}}","output":"str","x":674.96435546875,"y":320.25,"wires":[[]]},{"id":"fe4db02.28dcc5","type":"string","z":"fa94e7ea.c4c2f8","name":"after keyword","methods":[{"name":"between","params":[{"type":"str","value":"utterance\": \"broadcast "},{"type":"str","value":"\""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":217.5,"y":346.89276123046875,"wires":[["a237e28d.beb0c8","49979440.5e8dcc"]]},{"id":"1b4bc043.03778","type":"comment","z":"fa94e7ea.c4c2f8","name":"Send Broadcast","info":"","x":222.5,"y":294.5,"wires":[]},{"id":"74c8daa5.04e98c","type":"comment","z":"fa94e7ea.c4c2f8","name":"Receive Broadcast","info":"","x":222.75006103515625,"y":408.333251953125,"wires":[]},{"id":"16a75905.d601e7","type":"template","z":"fa94e7ea.c4c2f8","name":"answer json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\" : \"{{payload}}\"}, \"context\":{}}","output":"str","x":848.916748046875,"y":449.58343505859375,"wires":[["5f6d83d0.296514","aa775a7d.34148"]]},{"id":"5f6d83d0.296514","type":"websocket out","z":"fa94e7ea.c4c2f8","name":"mycroft-out","server":"","client":"a8cd9abf.ae876","x":1050.8333740234375,"y":449.1666259765625,"wires":[]},{"id":"49979440.5e8dcc","type":"mqtt out","z":"fa94e7ea.c4c2f8","name":"","topic":"mycroft/broadcast","qos":"","retain":"false","broker":"5393955c.170afc","x":663.75,"y":364.58331298828125,"wires":[]},{"id":"2f828d6c.e1b20a","type":"mqtt in","z":"fa94e7ea.c4c2f8","name":"","topic":"mycroft/broadcast","qos":"0","broker":"5393955c.170afc","x":224.58334350585938,"y":450.8333740234375,"wires":[["e1aa76d9.5429c8"]]},{"id":"e1aa76d9.5429c8","type":"function","z":"fa94e7ea.c4c2f8","name":"Correct double message error","func":"if(msg.payload == global.get(\"lastmessage\")){\nmsg.payload = \"\";\n}\nglobal.set(\"lastmessage\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":487.5,"y":448.75,"wires":[["f56e510b.085838"]]},{"id":"f56e510b.085838","type":"switch","z":"fa94e7ea.c4c2f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":695,"y":449.375,"wires":[[],["16a75905.d601e7"]]},{"id":"aa775a7d.34148","type":"websocket out","z":"fa94e7ea.c4c2f8","name":"mycroft-out","server":"","client":"c0f7b014.892ff8","x":1050,"y":492.5,"wires":[]},{"id":"a8cd9abf.ae876","type":"websocket-client","z":"","path":"ws://out:test_key@192.168.178.80:6789","tls":"","wholemsg":"false"},{"id":"5393955c.170afc","type":"mqtt-broker","z":"","name":"CDL MQTT BROKER","broker":"192.168.178.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c0f7b014.892ff8","type":"websocket-client","z":"","path":"ws://out:test_key@192.168.178.104:6789","tls":"","wholemsg":"false"}]
