MYCROFTSKILL_Fallback_Laugh
[{"id":"2e3d3ee7.d7a14a","type":"template","z":"126420b.b507e5f","name":"ask json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.query\", \"data\":{\"utterances\" : [\"evil\"]}, \"context\":{}}","output":"str","x":466.27362060546875,"y":376.416748046875,"wires":[["cea935bc.7834b","dbf5fc2e.a6b61"]]},{"id":"cea935bc.7834b","type":"websocket out","z":"126420b.b507e5f","name":"mycroft-out","server":"","client":"c0f7b014.892ff8","x":834.9404907226562,"y":298.5834045410156,"wires":[]},{"id":"dbf5fc2e.a6b61","type":"debug","z":"126420b.b507e5f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":845,"y":396.66668701171875,"wires":[]},{"id":"b41a8502.a0272","type":"mqtt in","z":"126420b.b507e5f","name":"","topic":"mycroft/laugh","qos":"2","broker":"5393955c.170afc","x":253.33331298828125,"y":348.33331298828125,"wires":[["369f2844.0a7d8"]]},{"id":"48797d0.56ddb04","type":"mqtt out","z":"126420b.b507e5f","name":"","topic":"mycroft/laugh","qos":"","retain":"","broker":"5393955c.170afc","x":239.99993896484375,"y":177.5000457763672,"wires":[]},{"id":"40f9425f.cd754c","type":"switch","z":"126420b.b507e5f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":618.3333129882812,"y":560,"wires":[[],["2e3d3ee7.d7a14a"]]},{"id":"369f2844.0a7d8","type":"function","z":"126420b.b507e5f","name":"Correct double message error","func":"if(msg.payload == global.get(\"lastmessage\")){\nmsg.payload = \"\";\n}\nglobal.set(\"lastmessage\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":410.83331298828125,"y":559.375,"wires":[["40f9425f.cd754c"]]},{"id":"c1214699.63c3c8","type":"comment","z":"126420b.b507e5f","name":"Skill with MQTT to enable routing to specific Mycroft (not yet implemented)","info":"","x":607.9999999999999,"y":849.9999999999998,"wires":[]},{"id":"c0f7b014.892ff8","type":"websocket-client","z":"","path":"ws://out:test_key@192.168.178.104:6789","tls":"","wholemsg":"false"},{"id":"5393955c.170afc","type":"mqtt-broker","z":"","name":"CDL MQTT BROKER","broker":"192.168.178.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
