MYCROFTSKILL_Fallback_AIML
[{"id":"3615addc.a2da0a","type":"http request","z":"c4239bfe.f2af38","name":"","method":"GET","ret":"obj","url":"","tls":"","x":627.4499359130859,"y":262.2500457763672,"wires":[["84b918f7.af956"]]},{"id":"69a0fe3f.26336","type":"function","z":"c4239bfe.f2af38","name":"","func":"msg.url = \"http://192.168.178.100:5010/api/v1.0/ask?question=\"+msg.payload+\"&sessionid=1234567890\";\nreturn msg;","outputs":1,"noerr":0,"x":484.44993591308594,"y":303.7500457763672,"wires":[["3615addc.a2da0a"]]},{"id":"84b918f7.af956","type":"function","z":"c4239bfe.f2af38","name":"","func":"msg.payload = msg.payload[0].response.answer;\nreturn msg;","outputs":1,"noerr":0,"x":785.4499359130859,"y":168.7500457763672,"wires":[[]]},{"id":"548c1255.e63c64","type":"string","z":"c4239bfe.f2af38","name":"after keyword","methods":[{"name":"between","params":[{"type":"str","value":"utterance\": \""},{"type":"str","value":"\""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":253.0625,"y":306.8125,"wires":[["69a0fe3f.26336"]]}]
