MYCROFTSKILL_Fallback_IntentHandling
[{"id":"126420b.b507e5f","type":"subflow","name":"Subflow 1","info":"","in":[{"x":86.66668701171875,"y":58.33332824707031,"wires":[{"id":"48797d0.56ddb04"}]}],"out":[{"x":674.9999694824219,"y":35,"wires":[{"id":"126420b.b507e5f","port":0}]}]},{"id":"2e3d3ee7.d7a14a","type":"template","z":"126420b.b507e5f","name":"ask json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.query\", \"data\":{\"utterances\" : [\"evil\"]}, \"context\":{}}","output":"str","x":466.27362060546875,"y":376.416748046875,"wires":[["cea935bc.7834b","dbf5fc2e.a6b61"]]},{"id":"cea935bc.7834b","type":"websocket out","z":"126420b.b507e5f","name":"mycroft-out","server":"","client":"c0f7b014.892ff8","x":834.9404907226562,"y":298.5834045410156,"wires":[]},{"id":"dbf5fc2e.a6b61","type":"debug","z":"126420b.b507e5f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":845,"y":396.66668701171875,"wires":[]},{"id":"b41a8502.a0272","type":"mqtt in","z":"126420b.b507e5f","name":"","topic":"mycroft/laugh","qos":"2","broker":"5393955c.170afc","x":253.33331298828125,"y":348.33331298828125,"wires":[["369f2844.0a7d8"]]},{"id":"48797d0.56ddb04","type":"mqtt out","z":"126420b.b507e5f","name":"","topic":"mycroft/laugh","qos":"","retain":"","broker":"5393955c.170afc","x":239.99993896484375,"y":177.5000457763672,"wires":[]},{"id":"40f9425f.cd754c","type":"switch","z":"126420b.b507e5f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":618.3333129882812,"y":560,"wires":[[],["2e3d3ee7.d7a14a"]]},{"id":"369f2844.0a7d8","type":"function","z":"126420b.b507e5f","name":"Correct double message error","func":"if(msg.payload == global.get(\"lastmessage\")){\nmsg.payload = \"\";\n}\nglobal.set(\"lastmessage\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":410.83331298828125,"y":559.375,"wires":[["40f9425f.cd754c"]]},{"id":"fa94e7ea.c4c2f8","type":"subflow","name":"Mycroft Broadcast Skill","info":"","category":"","in":[{"x":39.583251953125,"y":41.666717529296875,"wires":[{"id":"fe4db02.28dcc5"}]}],"out":[{"x":886.25,"y":43.75,"wires":[{"id":"a237e28d.beb0c8","port":0}]}]},{"id":"a237e28d.beb0c8","type":"template","z":"fa94e7ea.c4c2f8","name":"answer json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"The following message has been send to all devices\"}, \"context\":{}}","output":"str","x":674.96435546875,"y":320.25,"wires":[[]]},{"id":"fe4db02.28dcc5","type":"string","z":"fa94e7ea.c4c2f8","name":"after keyword","methods":[{"name":"between","params":[{"type":"str","value":"utterance\": \"broadcast "},{"type":"str","value":"\""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":217.5,"y":346.89276123046875,"wires":[["a237e28d.beb0c8","49979440.5e8dcc"]]},{"id":"1b4bc043.03778","type":"comment","z":"fa94e7ea.c4c2f8","name":"Send Broadcast","info":"","x":222.5,"y":294.5,"wires":[]},{"id":"74c8daa5.04e98c","type":"comment","z":"fa94e7ea.c4c2f8","name":"Receive Broadcast","info":"","x":222.75006103515625,"y":408.333251953125,"wires":[]},{"id":"16a75905.d601e7","type":"template","z":"fa94e7ea.c4c2f8","name":"answer json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\" : \"{{payload}}\"}, \"context\":{}}","output":"str","x":848.916748046875,"y":449.58343505859375,"wires":[["5f6d83d0.296514","aa775a7d.34148"]]},{"id":"5f6d83d0.296514","type":"websocket out","z":"fa94e7ea.c4c2f8","name":"mycroft-out","server":"","client":"a8cd9abf.ae876","x":1050.8333740234375,"y":449.1666259765625,"wires":[]},{"id":"49979440.5e8dcc","type":"mqtt out","z":"fa94e7ea.c4c2f8","name":"","topic":"mycroft/broadcast","qos":"","retain":"false","broker":"5393955c.170afc","x":663.75,"y":364.58331298828125,"wires":[]},{"id":"2f828d6c.e1b20a","type":"mqtt in","z":"fa94e7ea.c4c2f8","name":"","topic":"mycroft/broadcast","qos":"0","broker":"5393955c.170afc","x":224.58334350585938,"y":450.8333740234375,"wires":[["e1aa76d9.5429c8"]]},{"id":"e1aa76d9.5429c8","type":"function","z":"fa94e7ea.c4c2f8","name":"Correct double message error","func":"if(msg.payload == global.get(\"lastmessage\")){\nmsg.payload = \"\";\n}\nglobal.set(\"lastmessage\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":487.5,"y":448.75,"wires":[["f56e510b.085838"]]},{"id":"f56e510b.085838","type":"switch","z":"fa94e7ea.c4c2f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":695,"y":449.375,"wires":[[],["16a75905.d601e7"]]},{"id":"aa775a7d.34148","type":"websocket out","z":"fa94e7ea.c4c2f8","name":"mycroft-out","server":"","client":"c0f7b014.892ff8","x":1050,"y":492.5,"wires":[]},{"id":"a8cd9abf.ae876","type":"websocket-client","z":"","path":"ws://out:test_key@192.168.178.80:6789","tls":"","wholemsg":"false"},{"id":"5393955c.170afc","type":"mqtt-broker","z":"","name":"CDL MQTT BROKER","broker":"192.168.178.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c0f7b014.892ff8","type":"websocket-client","z":"","path":"ws://out:test_key@192.168.178.104:6789","tls":"","wholemsg":"false"},{"id":"d9bd30d2.2134d","type":"switch","z":"515b5e98.11272","name":"intents","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"verge","vt":"str"},{"t":"cont","v":"temperature","vt":"str"},{"t":"cont","v":"evil","vt":"str"},{"t":"cont","v":"broakcast","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":1085,"y":432.5,"wires":[["9a67de9e.25e4"],["9dce3c79.f4d408"],["62a6c4b5.656e24"],["532ac8dc.41ee28"],["c4202435.5db1f"]]},{"id":"9a67de9e.25e4","type":"http request","z":"515b5e98.11272","name":"http get news feed","method":"GET","ret":"txt","url":"http://www.theverge.com/rss/full.xml","tls":"","x":1345,"y":312,"wires":[["4804d5f8.c45244"]]},{"id":"4804d5f8.c45244","type":"xml","z":"515b5e98.11272","name":"format feed","attr":"","chr":"","x":1565,"y":312,"wires":[["bedec440.68235"]]},{"id":"bedec440.68235","type":"function","z":"515b5e98.11272","name":"select data","func":"var msg1 = {payload: msg.payload.feed.entry[0].title};\nvar msg2 = {payload: msg.payload.feed.entry[1].title};\n\n\nreturn [msg1, msg2];","outputs":"1","noerr":0,"x":1765,"y":312,"wires":[["7c8f0858.06f968"]]},{"id":"7c8f0858.06f968","type":"template","z":"515b5e98.11272","name":"answer json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"The leading headline from The Verge, {{payload}}\"}, \"context\":{}}","output":"str","x":2025,"y":312,"wires":[["b2f2419c.c8bc7"]]},{"id":"9dce3c79.f4d408","type":"http request","z":"515b5e98.11272","name":"http get weather","method":"GET","ret":"obj","url":"http://api.openweathermap.org/data/2.5/weather?lat=32.3&lon=-110.9&units=imperial&APPID=bb7088d09238c0f78fc90d2294812257","tls":"","x":1335,"y":392,"wires":[["cbe6a8a6.296ae8"]]},{"id":"cbe6a8a6.296ae8","type":"function","z":"515b5e98.11272","name":"select data","func":"var msg = {payload: msg.payload.main.temp};\nreturn msg","outputs":"1","noerr":0,"x":1610,"y":394.50000762939453,"wires":[["8bd9d285.5ad7b8"]]},{"id":"8bd9d285.5ad7b8","type":"template","z":"515b5e98.11272","name":"answer json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"the temp is {{payload}}\"}, \"context\":{}}","output":"str","x":2025,"y":392,"wires":[["b2f2419c.c8bc7"]]},{"id":"72d13b66.878ab4","type":"switch","z":"515b5e98.11272","name":"question filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"node_red.ask\"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":903.9999847412109,"y":439.99999237060547,"wires":[["d9bd30d2.2134d"]]},{"id":"785784f5.d1bd8c","type":"template","z":"515b5e98.11272","name":"intent_failure - json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.intent_failure\", \"data\":{}, \"context\":{}}","output":"str","x":2036.0000076293945,"y":554.5000305175781,"wires":[["b2f2419c.c8bc7"]]},{"id":"a7bc1e8f.00dd68","type":"comment","z":"515b5e98.11272","name":"skill trigger words","info":"","x":1095,"y":372,"wires":[]},{"id":"b2f2419c.c8bc7","type":"function","z":"515b5e98.11272","name":"select data","func":"var msg = {payload: msg.payload};\nreturn msg","outputs":"1","noerr":0,"x":2372.571517944336,"y":435.5000534057617,"wires":[[]]},{"id":"c4202435.5db1f","type":"function","z":"515b5e98.11272","name":"select data","func":"var msg = {payload: msg.payload};\nreturn msg","outputs":"1","noerr":0,"x":1355.3809814453125,"y":547.5477294921875,"wires":[["785784f5.d1bd8c"]]},{"id":"40ee1330.9c10d4","type":"debug","z":"515b5e98.11272","name":"mycroft answers","active":true,"console":"false","complete":"payload","x":1164.607177734375,"y":611.2500305175781,"wires":[]},{"id":"df539507.cf6e7","type":"switch","z":"515b5e98.11272","name":"answer filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"speak\"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":925.8571624755859,"y":562.5000228881836,"wires":[["40ee1330.9c10d4"]]},{"id":"faaf4651.696a","type":"switch","z":"515b5e98.11272","name":"converse filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"converse","vt":"str"}],"checkall":"true","outputs":1,"x":927.8571624755859,"y":681.5000228881836,"wires":[["5b41bacf.5a06ac","7b0dcba3.f866dc"]]},{"id":"7f863f13.de4fc","type":"template","z":"515b5e98.11272","name":"conversing json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"this is converse inside node red\"}, \"context\":{}}","output":"str","x":1700.107192993164,"y":731.2500343322754,"wires":[["6225c821.9fc57"]]},{"id":"5b41bacf.5a06ac","type":"switch","z":"515b5e98.11272","name":"converse stage","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"off","vt":"str"},{"t":"else"},{"t":"cont","v":"ask mycroft","vt":"str"}],"checkall":"true","outputs":3,"x":1336.357177734375,"y":692.0000324249268,"wires":[["aada1f7c.f15dc","249d20b0.a16ed8"],["7f863f13.de4fc"],["81cea9c6.5f5c"]]},{"id":"6225c821.9fc57","type":"function","z":"515b5e98.11272","name":"select data","func":"var msg = {payload: msg.payload};\nreturn msg","outputs":"1","noerr":0,"x":2076.357189178467,"y":714.5000324249268,"wires":[[]]},{"id":"aada1f7c.f15dc","type":"template","z":"515b5e98.11272","name":"stop converse json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.converse.deactivate\", \"data\":{}, \"context\":{}}","output":"str","x":1705.1071853637695,"y":675.0000324249268,"wires":[["6225c821.9fc57"]]},{"id":"f88f8c22.6b21b","type":"template","z":"515b5e98.11272","name":"intent_failure - json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.intent_failure\", \"data\":{}, \"context\":{}}","output":"str","x":1747.6071853637695,"y":824.5000343322754,"wires":[["6225c821.9fc57"]]},{"id":"81cea9c6.5f5c","type":"string","z":"515b5e98.11272","name":"parse","methods":[{"name":"replaceAll","params":[{"type":"str","value":"ask mycroft"},{"type":"str","value":" "}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":1535.1071815490723,"y":785.7500343322754,"wires":[["f88f8c22.6b21b"]]},{"id":"7b0dcba3.f866dc","type":"debug","z":"515b5e98.11272","name":"converse in","active":true,"console":"false","complete":"payload","x":1123.857162475586,"y":769.5000228881836,"wires":[]},{"id":"249d20b0.a16ed8","type":"template","z":"515b5e98.11272","name":"stop converse speak json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"converse inside node is off\"}, \"context\":{}}","output":"str","x":1735.857162475586,"y":632.5000228881836,"wires":[["6225c821.9fc57"]]},{"id":"532ac8dc.41ee28","type":"subflow:fa94e7ea.c4c2f8","z":"515b5e98.11272","name":"","x":1675,"y":513.3333740234375,"wires":[["b2f2419c.c8bc7"]]},{"id":"62a6c4b5.656e24","type":"subflow:126420b.b507e5f","z":"515b5e98.11272","name":"","x":1333.333251953125,"y":446.66668701171875,"wires":[["87cdb091.9f9b18"]]},{"id":"87cdb091.9f9b18","type":"template","z":"515b5e98.11272","name":"answer json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"I have scared the hell out somebody\"}, \"context\":{}}","output":"str","x":1659.9998779296875,"y":443.33331298828125,"wires":[["b2f2419c.c8bc7"]]}]
